body{
    background-image: url(https://img.pystatic.com/products/223383-69cd45a8-2451-4f77-a418-aa2efadeb76c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
#principal{
    justify-content: center;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-items: center;
}

h1{
    color: brown;
}
img{
    width: 400px;
}
#thirdDiv{
    width: 500px;
    height: 600px;
    background-color: rgba(0, 255, 255, 0.616);
    padding: 50px;
    border: 5px solid;
    border-color: rgba(45, 182, 245, 0.808);
}
#spanId{
    font-size: 18px;
    margin: 50px;
}